	body {
    	background-color:#d4cdf4; 
    }
    
    .logo {
    	position: fixed;
    	top: 0px;
    	left: 0px;
        padding: 10px;
    	width: 252px;
    	height: 140px;
	}
    
    .navbar {
    	width: 100%;
    	top: 0px;
    	display: flex;
    	justify-content: center;
	}
    
    .main {
    	top: 100px;
        display: flex;
        justify-content: space-around;
    }
    
    li {
    	display: inline-block;
    }
    
	li a {
        padding: 14px 16px;
        text-align: center;
	}
    
	a.active {
    	color: #fff;
    }
